<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />


  <!-- <node name="relay1" pkg="topic_tools" type="relay" args="/camera_forward/depth/color/points /cloud_in" /> -->
  <node name="relay2" pkg="topic_tools" type="relay" args="/isaac_a1/camera_forward/camera_left/pointcloud /cloud_in" />


  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find a1_launch)/config/elev_robots/isaac_a1_robot.yaml" />
    <rosparam command="load" file="$(find a1_launch)/config/elev_maps/isaac_a1_map.yaml" />
    <rosparam command="load" file="$(find a1_launch)/config/elev_maps/isaac_cam.yaml" />
  </node>

  <!-- <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find a1_launch)/config/rviz/isaac_a1_elev_map_rviz_config.rviz" /> -->

</launch>
