<launch>
  <!-- <node name="relay1" pkg="topic_tools" type="relay" args="/camera_forward/depth/color/points /cloud_in" /> -->
  <node name="relay2" pkg="topic_tools" type="relay" args="/camera_downward/depth/color/points /cloud_in" />


  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find a1_launch)/config/elev_robots/a1_robot.yaml" />
    <rosparam command="load" file="$(find a1_launch)/config/elev_maps/a1_map.yaml" />
    <rosparam command="load" file="$(find a1_launch)/config/elev_maps/realsense_d435.yaml" />
  </node>


</launch>
